<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="SqliteConnectionString"
             connectionString="Data Source=tricount.db" />
        <add name="MsSqlConnectionString"
             connectionString="Server=(localdb)\mssqllocaldb;Database=tricount;Trusted_Connection=True;MultipleActiveResultSets=true;Timeout=1" />
    </connectionStrings>
    <appSettings>
    </appSettings>
</configuration>